/* Nav */

nav {
    padding: 10px 10px 6px 10px;
    grid-template-columns: calc(10vw - 10px) 35vw 10vw 35vw calc(10vw - 10px);
}

nav .logo-wrapper {
    display: none;
}

nav .menu {
    position: absolute;
    text-align: right;
    text-align: left;
    top: 0;
    right: 0;
    height: calc(100vh - 5.5em + 11px);
    width: 124px;
    background-color: var(--theme);
    transition: all .3s ease-out;
    padding: 5.5em 40px 0 40px;
    margin: 0;
    -webkit-transform: translateX(204px) scaleX(0);
    transform: translateX(204px) scaleX(0);
}

nav li {
    display: block;
    margin: 1em 0 0 0;
}

nav li:last-child {
    display: block;
    position: absolute;
    bottom: 4em;
}

nav .donate {
    display: inline-block;
    background-color: transparent;
    color: var(--light);
    border: 1.5px solid var(--light);
    box-shadow: none;
    border-radius: 4px;
    margin: 1em 0 0 0;
}

nav .donate:hover {
    box-shadow: none;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background-color: var(--light);
    color: var(--theme);
    opacity: 1;
}

nav .menu-icon-wrapper {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    text-align: right;
}

nav .menu-icon {
    display: inline-block;
}

nav .open-menu .menu {
    -webkit-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    box-shadow: 0 0 100vw 20vw var(--dark);
}

.fixed {
    background-color: transparent;
    border: none;
}


/* Landing page */

#gist h1 {
    font-size: 40px;
}

#gist h1 span {
    font-size: 28px;
}

#gist h2 {
    font-size: 22px;
}

#gist h2 span {
    display: block;
}

#gist h1, #gist h2 {
    line-height: 1.58;
    font-weight: 400;
}

#gist #first-name {
    display: none;
}

#gist #email {
    width: 75vw;
}


/* Main */

main section, main .grid, main .blog-post {
    padding: 29px 5vw;
}

main ul, main ol {
    padding-left: 2em;
}

main p, main li {
    letter-spacing: .008rem;
    line-height: 1.42;
    font-size: 17px;
}

main .theme p, main .theme li, main .accent p, main .accent li {
    letter-spacing: .017rem;
    font-size: 16.35px;
}


/* Footer */

footer .menu-wrapper {
    grid-column: 3 / 5;
}

footer .menu {
    text-align: right;
}

footer p {
    grid-column: 2 / 5;
}
