/* Fixed nav */

.fixed {
    background-color: #fefefe;
    border-top: 1.5px solid #9a0007;
}

    .fixed a {
        color: #9a0007;
    }

    .fixed .logo path {
        stroke: #9a0007;
    }

    .fixed .donate {
        background-color: #9a0007;
        color: #fefefe;
        border-color: #9a0007;
    }


/* Main positions */

main .flex, main .blog-post {
    padding: 1.6em 10vw;
}


/* Main styles */


main p, main li {
    font-size: 19px;
    line-height: 1.58;
    letter-spacing: .014rem;
}

main .theme p, main .theme li, main .accent p, main .accent li {
    letter-spacing: .017rem;
    font-size: 17.85px;
}

main h2 {
    font-size: 2em;
}

main h3 {
    font-size: 1.3em;
    letter-spacing: .013rem;
}

main h4 {
    font-size: 1.6em;
}

main h5 {
    font-size: 1.2em;
}

main blockquote p {
    font-size: 1.6em;
    letter-spacing: 0.013rem;
    font-weight: 300;
}

main ul, main ol {
    padding-left: 3.2em;
}


/* Footer positions */

footer .logo-wrapper {
    width: 30vw;
}

footer .menu-wrapper {
    width: 10vw;
}

    footer .menu {
        text-align: left;
    }

footer .form-wrapper {
    display: inline-block;
}

    footer form {
        display: inline-block;
        width: 40vw;
        text-align: right;
    }

        footer form input[type="text"] {
            font-size: 16px;
        }

        footer form .button {
            margin-right: 0;
            font-size: 16px;
        }
