/* Colors and typography */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Martel:300,400,700');


/* :root {
    --theme: #9a0007;
    --themeLight: #d32f2f;
    --themeDark: #56090D;
    --accent: #0069c0;
    --accentLight: #2196f3;
    --accentDark: #093E69;
    --dark: #121212;
    --darkGray: #3C3C3C;
    --light: #fefefe;
    --lightGray: #C3C3C3;
    --gray: #888;
    --serif: "Martel";
    --sans: "Lato";
} */


/* Fixed nav styles */

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--light);
}

    .fixed h1 {
        color: var(--theme);
    }

    .fixed a {
        color: var(--theme);
    }

    .fixed .open-menu a {
        color: var(--light);
    }

    .fixed .logo path {
        stroke: var(--theme);
    }

    .fixed .donate {
        background-color: var(--theme);
        color: var(--light);
    }

    .fixed .donate:hover {
        box-shadow: 0px 0px 6px 0px var(--lightGray), 0px 6px 6px 0px var(--lightGray);
    }

    .fixed .donate:active {
        box-shadow: none;
    }

    .fixed .menu-icon path {
        stroke: var(--theme);
        fill: var(--light);
    }

    .fixed .menu-icon text {
        fill: var(--theme);
    }

    .fixed .open-menu path {
        stroke: var(--light);
        fill: var(--theme);
    }

    .fixed .open-menu text {
        fill: var(--light);
    }


/* Main styles */

main {
    padding: 4.8em 0;
}

main h2 {
    font-size: 2em;
    margin: 1.6em 0 .4em 0;
}

main h3 {
    font-size: 1.3em;
    font-weight: 300;
    margin: 1.2em 0 1.6em 0;
}

main h4 {
    margin: 2em 0 .8em 0;
    font-size: 1.6em;
}

main h5 {
    margin: 1.6em 0 .4em 0;
    font-size: 1.2em;
}

main p, main li {
    font-size: 19px;
    line-height: 1.58;
    font-family: var(--serif), Georgia, serif;
    font-weight: 300;
    letter-spacing: .014rem;
}

main p {
    margin: 1.2em 0;
}

main a {
    color: var(--theme);
}

main blockquote p {
    font-family: var(--sans), Helvetica, Arial, sans-serif;
    color: var(--theme);
    font-size: 1.6em;
    font-weight: 300;
    margin: 1.6em;
}

main ul, main ol {
    padding-left: 3.2em;
}

main .grid {
    display: grid;
    grid-template-columns: .67fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    padding: 1.6em 10vw;
}

main .grid .gist {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 5vw 0 0;
}

main .grid .paragraphs {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

main .theme {
    background-color: var(--theme);
}

main .accent {
    background-color: var(--accent);
}

main .theme, main .accent {
    color: var(--light);
}

main .theme p, main .theme li, main .accent p, main .accent li {
    letter-spacing: .02rem;
    font-size: 18px;
}

main .theme a, main .accent a {
    color: var(--light);
    text-decoration: underline;
}

main .paragraphs-gist {
    grid-template-columns: 1fr .67fr;
}

main .paragraphs-gist .gist {
    text-align: right;
    grid-column: 2 / 3;
    margin: 0 0 0 5vw;
}

main .paragraphs-gist .paragraphs {
    grid-column: 1 / 2;
}

main .blog-post {
    padding: 1.6em calc((100vw - 700px) / 2);
}

main .blog-post h2, main .blog-post h3 {
    text-align: center;
}

main .blog-post > p:first-of-type {
    margin-top: 2em;
}

main .blog-post .post-summary {
    border-top: 2px solid var(--theme);
}

main .blog-post .post-summary h2, main .blog-post .post-summary h3 {
    text-align: left;
}

main .blog-post .post-summary:nth-child(2) {
    border: none;
}

footer {
    background-color: var(--darkGray);
    color: var(--lightGray);
    display: grid;
    grid-template-columns: 10vw 35vw 10vw 35vw 10vw;
    grid-template-rows: auto;
    align-items: flex-start;
    padding: 2.8em 0;
}

footer .logo-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

    footer .logo {
        height: 40px;
        width: 50.7px;
        transition: all .2s ease;
        z-index: 1;
        position: relative;
    }

    footer .logo path {
        stroke: var(--lightGray);
    }

    footer .logo:hover {
        cursor: pointer;
    }

    footer .logo:hover > path {
        stroke: var(--light);
    }



footer .menu-wrapper {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

    footer .menu {
        margin: 0;
        padding: 0;
    }

    footer .menu li {
        display: block;
        margin: .8em 0;
    }

    footer .menu li:first-child {
        margin-top: 0em;
        font-weight: 600;
        color: var(--light);
    }

    footer .menu li:last-child {
        margin-bottom: 0em;
    }

footer p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    margin: 0;
    align-self: flex-end;
}

    footer a {
        color: var(--lightGray);
    }

    footer a:hover {
        color: var(--light);
        opacity: 1;
    }

    footer li.donate {
        color: var(--lightGray);
        border: 2px solid var(--lightGray);
        background-color: transparent;
        display: inline-block;
        width: auto;
        margin-top: 0;
    }

    footer li.donate:hover {
        color: var(--dark);
        background-color: var(--light);
        border-color: var(--light);
        transform: translateY(0px);
    }
