<style>
    input[type="text"], input[type="email"],  input[type="tel"], textarea {
        outline: none;
        border: none;
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        background-color: #fefefe;
        color: #121212;
        padding: 5px 10px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        font-size: 17px;
    }

    /* Hiding the honeypot to lure spambots */
    input[name="unsubscribe_me"] {
        display: inline-block;
        height: 0;
        width: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        outline: none;
    }

    #gist input[name="first-name"] {
        display: none;
        border-radius: 4px;
        border: none;
    }

    #gist input[name="email"] {
        width: 75vw;
        border-radius: 4px;
        border: none;
    }

    button[type="submit"] {
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        border: none;
    }

    #gist button[name="submit-email"] {
        background-color: #fefefe;
        color: #0069c0;
        margin: 1.5em 0;
    }

    @media screen and (min-width: 600px) {
        #gist input[name="first-name"] {
            display: inline-block;
        }

        #gist input[name="email"] {
            width: 250px;
            margin: 8vh 0 0 1vw;
        }

    }

    @media screen and (min-width: 900px) {
        #gist input[name="first-name"], #gist input[name="email"] {
            padding: 5px 15px;
            border-radius: 14px;
        }

        #gist input[name="first-name"], #gist input[name="email"], #gist button[name="submit-email"] {
            box-shadow: 0px 0px 2px 0px #093E69, 0px 2px 2px 0px #093E69;
        }

        #gist input[name="first-name"]:focus, #gist input[name="email"]:focus {
            box-shadow: 0px 0px 2px 0px #093E69, 0px 2px 2px 0px #093E69;
        }

        #gist .button:hover {
            box-shadow: 0px 0px 6px 0px #093E69, 0px 6px 6px 0px #093E69;
        }

        #gist .button:active {
            box-shadow: 0px 0px 2px 0px #093E69, 0px 2px 2px 0px #093E69;
        }
    }
</style>
