<script src="/scripts/transition-nav.js" defer></script>

<footer>
    <div class="logo-wrapper">
        <svg class="logo" alt="Jennifer Vipond's campaign logo" onclick="location.href = 'index.html';" baseProfile="full" width="570" height="450" viewBox="0 0 570 450" width="570" height="450" preserveAspectRatio="xMinYMin meet">
            <path transform="translate(-110 10)" d="M 240 130 Q 240 130 250 255 Q 265 435 175 375 Q 55 305 350 250 Q 351 250 440 407 Q 441 408 650 20" fill="none" stroke-width="30" stroke-linecap="round"/>
        </svg>
    </div>

    <div class="menu-wrapper">
        <ul class="menu">
            <li>MENU</li>
            <li><a href="/">Home</a></li>
            <li><a href="/policy/">Policy</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a class="button donate custom-dbox-popup" href="https://donorbox.org/vipond-for-congress-website-donations">Donate</a></li>
        </ul>
    </div>

    <div class="form-wrapper">
        <form action="https://getsimpleform.com/messages?form_api_token=c826bf93cc0f701979110234068b770a" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='https://vipondforcongress.com/email/thank-you.html' />
          <!-- all your input fields here....the first one is a honeypot -->
          <input type="tel" name="unsubscribe_me" value="" tabindex="-1" autocomplete="off" />
          <input type="email" name="email" value="" placeholder="Email" aria-label="email" required /><button class="button" type="submit" name="submit-email">Subscribe to newsletter</button>
        </form>
    </div>

    <p id="legal"><a href="/privacy/" style="text-decoration: underline;">Privacy</a><br><br>&copy; 2017 Jennifer Vipond<br><a href="https://github.com/jennifervipond/jennifervipond.github.io" target="_blank" rel="noopener"><img src="/images/GitHub-Mark-Light-32px.png" alt="GitHub icon" style="height: 15px; vertical-align: middle;"> View on Github</a></p>

    <script defer>
        let css = [
            {'name': 'normalize', 'media': 'all'},
            {'name': 'deferred', 'media': 'all'},
            {'name': '600', 'media': '(min-width: 600px)'},
            {'name': '900', 'media': '(min-width: 900px)'}
        ],description = document.querySelector('meta[name="description"]');
        css.forEach(function(e,i,a) {
            var e = document.createElement('link');
            e.rel = 'stylesheet';
            e.href = '/css/' + a[i].name + '.css';
            e.type = 'text/css';
            e.media = a[i].media;
            description.parentNode.insertBefore(e, description);
        })
    </script>
</footer>
