<style>
    header {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100vw;
        background-image: url("/images/landing-page-gradient.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        display: grid;
        align-items: flex-end;
        grid-template-columns: 5vw 90vw 5vw;
        height: 33vh;
        grid-template-rows: 100%;
    }

    .bg-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        filter: grayscale(100%);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    header #gist {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        z-index: 1;
    }

    #gist h1 {
        font-family: 'Martel', Georgia, sans-serif;
        color: #fefefe;
        font-size: 40px;
        line-height: 1.58;
        font-weight: 400;
        margin: .67em 0;
    }

    @media screen and (min-width: 600px) {
        #gist h1 {
            font-weight: 300;
            font-size: 54px;
        }
    }

    @media screen and (min-width: 900px) {
        header {
            grid-template-columns: 10vw 80vw 10vw;
        }
    }

    .pseudo-header {
        height: 33vh;
    }
</style>
