<style>
    .landing-page {
        height: 100vh;
        align-items: center;
    }

        .landing-page #gist {
            text-align: center;
        }

            #gist h1 span {
                font-size: 28px;
                display: block;
                margin-bottom: .67em;
            }

            #gist h2 {
                font-family: var(--serif), Georgia, sans-serif;
                color: var(--light);
                margin: .67em 0;
                font-size: 22px;
                line-height: 1.58;
                font-weight: 400;
            }

            #gist h2 span {
                display: block;
            }

    @media screen and (min-width: 600px) {
        #gist h1 span {
            font-size: 32px;
        }

        #gist h2 {
            font-weight: 300;
            font-size: 32px;
        }

        #gist h2 span {
            display: inline;
        }
    }

    @media screen and (min-width: 900px) {
        .landing-page #gist {
            text-align: left;
        }

            #gist h1 span {
                display: inline;
                font-size: 54px;
            }
    }

    .pseudo-landing-page {
        height: 100vh;
    }

    @media screen and (max-height: 550px) {
        .landing-page {
            height: 550px;
        }

        .pseudo-landing-page {
            height: 550px;
        }
    }
</style>
