<style>
    .landing-page {
        height: 100vh;
        background-size: 100vw 100vh;
        grid-template-rows: 34vh 33vh 33vh;
        align-items: center;
    }

    .pseudo-landing-page {
        height: 100vh;
    }

        .landing-page #gist {
            grid-row: 1 / 4;
        }

            #gist .button:hover {
                box-shadow: 0px 0px 6px 0px var(--accentDark), 0px 6px 6px 0px var(--accentDark);
            }

            #gist .button:active {
                box-shadow: none;
            }

            #gist #submit-email {
                background-color: var(--light);
                color: var(--accent);
                margin: 1.5em 0;
            }

            #gist #email {
                width: 250px;
                margin: 8vh 0 0 1vw;
            }

    @media screen and (max-width: 900px) {
        .landing-page {
            grid-template-columns: 5vw 90vw 5vw;
            grid-template-rows: 50vh 25vh 25vh;
        }

        .landing-page .background-wrapper {
            display: none;
        }

        .landing-page #gist {
            grid-column: 2 / 3;
            grid-row: 1 / 4;
            z-index: 1;
            text-align: center;
        }

        #gist h1 span {
            font-size: 32px;
            display: block;
            margin-bottom: .67em;
        }
    }

    @media screen and (max-width: 600px) {
        #gist h1 {
            font-size: 40px;
        }

        #gist h1 span {
            font-size: 28px;
        }

        #gist h2 {
            font-size: 22px;
        }

        #gist h2 span {
            display: block;
        }

        #gist h1, #gist h2 {
            line-height: 1.58;
            font-weight: 400;
        }

        #gist #first-name {
            display: none;
        }

        #gist #email {
            width: 75vw;
        }
    }
</style>
