<style>
    .landing-page {
        height: 100vh;
    }

        .landing-page #gist-wrapper {
            text-align: center;
            height: 100%;
        }

            #gist h1 #jennifer, #gist h1 #hoppe {
                display: none;
            }

            #gist h2 {
                font-family: 'Martel', Georgia, sans-serif;
                color: #fefefe;
                margin: .67em 0;
                font-size: 22px;
                line-height: 1.58;
                font-weight: 300;
            }

            #gist h2 #wisconsin {
                display: none;
            }

    @media screen and (min-width: 600px) {
        .landing-page #gist-wrapper {
            align-items: center;
            width: 80vw;
            padding: 0 10vw;
        }

            .landing-page #gist {
                text-align: right;
            }

                #gist h2 #congress {
                    display: none;
                }

                #gist h2 #wisconsin {
                    display: inline;
                }
    }

    @media screen and (min-width: 900px) {
        #gist h1 #jennifer, #gist h1 #hoppe {
            display: inline;
        }

        #gist h1 {
            font-size: 52px;
        }

        #gist h2 {
            font-size: 26px;
        }
    }

    .pseudo-landing-page {
        height: 100vh;
    }

    @media screen and (max-height: 550px) {
        .landing-page {
            height: 550px;
        }

        .pseudo-landing-page {
            height: 550px;
        }
    }
</style>
