<nav class="nav">
    <div class="logo-wrapper">
        <svg class="logo" alt="Jennifer Vipond's campaign logo" onclick="location.href = '/';" version="1.1" baseProfile="full" width="570" height="450" viewBox="0 0 570 450" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg">
            <path transform="translate(-110 10)" d="M 240 130 Q 240 130 250 255 Q 265 435 175 375 Q 55 305 350 250 Q 351 250 440 407 Q 441 408 650 20" fill="none" stroke-width="30" stroke-linecap="round"/>
        </svg>
    </div>

    <h1><a href="https://twitter.com/search?f=tweets&q=%23VoteVipond&src=tyah" target="_blank" rel="noopener">#VoteVipond<a></h1>

    <div class="menu-wrapper">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/index.html#about">About</a></li>
            <li><a href="/index.html#contact">Contact</a></li>
            <li class="button donate">Donate</li>
            <li>#VoteVipond</li>
        </ul>
    </div>

    <div class="menu-icon-wrapper">
        <svg class="menu-icon" baseProfile="tiny" width="152" height="66" viewBox="0 0 152 66" preserveAspectRatio="xMinYMin meet">
            <path d="M120 64 A 31 31 0 1 1 120.00001 64 H -120" stroke-width="2" fill-opacity="1" stroke-dasharray="194.77" stroke-linecap="round"/>
            <text x="120" y="33" text-anchor="middle" dominant-baseline="central">Menu</text>
        </svg>
    </div>

    <script src="/scripts/open-menu.js" defer></script>
</nav>
