<style media="screen">
    * {margin: 0; padding: 0;}

    html,body {
        background-color: var(--light);
        color: var(--dark);
        width: 100%;
        font-family: var(--sans), Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        letter-spacing: .013rem;
    }

    a {
        text-decoration: none;
        transition: all .2s ease;
    }

    a:hover {
        opacity: .7;
    }

    .button {
        padding: 5px 10px 5px 10px;
        margin: .67em .67em .67em 0;
        border-radius: 14.5px;
        font-size: 17px;
        transition: all .2s ease;
        display: inline-block;
    }

    .menu-icon {
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    .menu-icon text {
        font-family: var(--sans);
        font-size: 17px;
    }

    .menu-icon path {
        stroke-dashoffset: 0;
        transition: all .3s ease-in;
    }

    .open-menu path {
        stroke-dashoffset: -194.77;
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 10px 10px 6px 10px;
        grid-template-columns: calc(10vw - 10px) 35vw 10vw 35vw calc(10vw - 10px);
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        color: var(--light);
    }

        nav h1 {
            display: none;
        }

        nav .logo-wrapper {
            display: none;
        }

        nav .menu {
            position: absolute;
            display: inline-block;
            text-align: left;
            top: 0;
            right: 0;
            height: calc(100vh - 5.5em + 11px);
            width: 124px;
            background-color: var(--theme);
            list-style-type: none;
            transition: all .3s ease-out;
            padding: 5.5em 40px 0 40px;
            margin: 0;
            -webkit-transform: translateX(204px) scaleX(0);
            transform: translateX(204px) scaleX(0);
        }


            nav li {
                display: block;
                margin: 1em 0 0 0;
                font-size: 17px;
            }

            nav li:last-child {
                display: block;
                position: absolute;
                bottom: 4em;
            }


            nav a {
                color: var(--light);
            }

            nav .donate {
                display: inline-block;
                background-color: transparent;
                color: var(--light);
                border: 1.5px solid var(--light);
                box-shadow: none;
                margin: 1em 0 0 0;
            }

            nav .donate:hover {
                background-color: var(--light);
                color: var(--theme);
                opacity: 1;
            }

        nav .menu-icon-wrapper {
            grid-column: 4 / 6;
            grid-row: 1 / 2;
            text-align: right;
        }

            nav .menu-icon {
                display: inline-block;
            }

            nav .menu-icon text {
                fill: var(--light);
            }

            nav .menu-icon path {
                stroke: var(--light);
                fill: rgba(0, 0, 0, 0);
            }


        nav .open-menu .menu {
            -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
            box-shadow: 0 0 100vw 20vw var(--dark);
        }

    @media screen and (min-width: 600px) {
        nav {
            padding: 1em 0;
            grid-template-columns: 10vw 35vw 10vw 35vw 10vw;
        }

        nav .logo-wrapper {
            display: block;
            text-align: left;
            grid-column: 2 / 5;
            grid-row: 1 / 2;
        }

            nav .logo {
                height: 35px;
                width: 44.33px;
                margin-top: .2em;
                transition: all .2s ease;
                z-index: 0;
                position: relative;
            }

            nav .logo path {
                stroke: var(--light);
            }

        nav .menu-wrapper {
            text-align: right;
            grid-column: 1 / 5;
            grid-row: 1 / 2;
        }

            nav .menu {
                position: static;
                text-align: right;
                height: auto;
                width: auto;
                background-color: transparent;
                padding: 0;
                -webkit-transform: translateX(0px) scaleX(1);
                transform: translateX(0px) scaleX(1);
            }

            nav .open-menu .menu {
                background-color: transparent;
                box-shadow: none;
            }

                nav li {
                    display: inline-block;
                    margin: 0 1vw;
                }

                nav li:last-child {
                    display: none;
                }

                nav .donate {
                    margin: 0 0 0 1vw;
                    padding: 5px 10px 5px 10px;
                    background-color: var(--light);
                    color: var(--theme);
                    border: none;
                }

                nav .donate:hover {
                    box-shadow: 0px 0px 6px 0px var(--themeDark), 0px 6px 6px 0px var(--themeDark);
                }

                nav .donate:active {
                    -webkit-transform: translateY(1px);
                    transform: translateY(1px);
                    box-shadow: none;
                }

            nav .menu-icon-wrapper {
                display: none;
            }
    }

    @media screen and (min-width: 900px) {
        .button {
            border-radius: 4px;
        }

        .button:hover {
            -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
            cursor: pointer;
        }

        .button:active {
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
        }

            nav h1 {
                display: block;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                display: inline;
                margin: 0;
                font-weight: 400;
                font-size: 24px;
                position: relative;
                z-index: 0;
            }

            nav .logo-wrapper {
                grid-column: 1 / 5;
                text-align: center;
            }

                nav .logo:hover {
                    opacity: .7;
                    cursor: pointer;
                }
    }
</style>
