<style media="screen">
* {margin: 0; padding: 0;}

html,body {
    background-color: #fefefe;
    color: #121212;
    width: 100%;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    letter-spacing: .013rem;
}

a {
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover {
    opacity: .7;
}

.button {
    padding: 5px 10px 5px 10px;
    margin: .67em .67em .67em 0;
    border-radius: 14.5px;
    font-size: 17px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    display: inline-block;
}

.menu-icon {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.menu-icon text {
    font-family: 'Lato';
    font-size: 17px;
}

.menu-icon path {
    stroke-dashoffset: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.open-menu path {
    stroke-dashoffset: -194.77;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px 10px 6px 10px;
    grid-template-columns: calc(10vw - 10px) 35vw 10vw 35vw calc(10vw - 10px);
    display: grid;
    grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fefefe;
}

    nav h1 {
        display: none;
    }

    nav .logo-wrapper {
        display: none;
    }

    nav .menu {
        position: absolute;
        display: inline-block;
        text-align: left;
        top: 0;
        right: 0;
        height: calc(100vh - 5.5em + 11px);
        width: 124px;
        background-color: #9a0007;
        list-style-type: none;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        padding: 5.5em 40px 0 40px;
        margin: 0;
        -webkit-transform: translateX(204px) scaleX(0);
        -ms-transform: translateX(204px) scaleX(0);
            transform: translateX(204px) scaleX(0);
    }


        nav li {
            display: block;
            margin: 1em 0 0 0;
            font-size: 17px;
        }

        nav li:last-child {
            display: block;
            position: absolute;
            bottom: 4em;
        }


        nav a {
            color: #fefefe;
        }

        nav .donate {
            display: inline-block;
            background-color: transparent;
            color: #fefefe;
            border: 1.5px solid #fefefe;
            -webkit-box-shadow: none;
                    box-shadow: none;
            margin: 1em 0 0 0;
        }

        nav .donate:hover {
            background-color: #fefefe;
            color: #9a0007;
            opacity: 1;
        }

    nav .menu-icon-wrapper {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
        text-align: right;
    }

        nav .menu-icon {
            display: inline-block;
        }

        nav .menu-icon text {
            fill: #fefefe;
        }

        nav .menu-icon path {
            stroke: #fefefe;
            fill: rgba(0, 0, 0, 0);
        }


    nav .open-menu .menu {
        -webkit-transform: translateX(0) scaleX(1);
        -ms-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
        -webkit-box-shadow: 0 0 100vw 20vw #121212;
                box-shadow: 0 0 100vw 20vw #121212;
    }

@media screen and (min-width: 600px) {
    nav {
        padding: 1em 0;
        grid-template-columns: 10vw 35vw 10vw 35vw 10vw;
    }

    nav .logo-wrapper {
        display: block;
        text-align: left;
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }

        nav .logo {
            height: 35px;
            width: 44.33px;
            margin-top: .2em;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            z-index: 0;
            position: relative;
        }

        nav .logo path {
            stroke: #fefefe;
        }

    nav .menu-wrapper {
        text-align: right;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }

        nav .menu {
            position: static;
            text-align: right;
            height: auto;
            width: auto;
            background-color: transparent;
            padding: 0;
            -webkit-transform: translateX(0px) scaleX(1);
            -ms-transform: translateX(0px) scaleX(1);
                transform: translateX(0px) scaleX(1);
        }

        nav .open-menu .menu {
            background-color: transparent;
            -webkit-box-shadow: none;
                    box-shadow: none;
        }

            nav li {
                display: inline-block;
                margin: 0 1vw;
            }

            nav li:last-child {
                display: none;
            }

            nav .donate {
                margin: 0 0 0 1vw;
                padding: 5px 10px 5px 10px;
                background-color: #fefefe;
                color: #9a0007;
                border: none;
            }

        nav .menu-icon-wrapper {
            display: none;
        }
}

@media screen and (min-width: 900px) {
    .button {
        border-radius: 4px;
    }

    .button:hover {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
        cursor: pointer;
    }

    .button:active {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    }

    nav h1 {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: inline;
        margin: 0;
        font-weight: 400;
        font-size: 19px;
        position: relative;
        z-index: 0;
    }

    nav .logo-wrapper {
        grid-column: 1 / 5;
        text-align: center;
    }

        nav .logo:hover {
            opacity: .7;
            cursor: pointer;
        }

    nav .donate {
        -webkit-box-shadow: 0px 0px 2px 0px #56090D, 0px 2px 2px 0px #56090D;
                box-shadow: 0px 0px 2px 0px #56090D, 0px 2px 2px 0px #56090D;
    }

    nav .donate:hover {
        -webkit-box-shadow: 0px 0px 6px 0px #56090D, 0px 6px 6px 0px #56090D;
                box-shadow: 0px 0px 6px 0px #56090D, 0px 6px 6px 0px #56090D;
    }

    nav .donate:active {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
        -webkit-box-shadow: 0px 0px 2px 0px #56090D, 0px 2px 2px 0px #56090D;
                box-shadow: 0px 0px 2px 0px #56090D, 0px 2px 2px 0px #56090D;
    }
}
</style>
