<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            document.addEventListener('DOMContentLoaded', function(){});
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58906424-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-58906424-3');
        </script>
        <!-- End Google Analytics -->

        <title>Vote Vipond</title>

        <meta charset="utf-8">
        <meta name="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/images/vipond-for-congress.ico">

        <noscript>
            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="/css/deferred.css">
            <link rel="stylesheet" href="/css/600.css" media="(min-width: 600px)">
            <link rel="stylesheet" href="/css/900.css" media="(min-width: 900px)">
        </noscript>

        <meta name="description" content="Vote Dr. Jennifer Hoppe Vipond to represent Wisconsin's Fifth District!">
        <meta name="keywords" content="jennifer, vipond, wisconsin, congress, 2018, moderate, republican, democrat, doctor">
        <meta name="author" content="Alex Vipond">

        <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
        <script> window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' } </script>
    </head>

    <body>
        {% include navCSS.html %}
        {% include nav.html %}
        {% include emailCSS.html %}
        {% include headerCSS.html %}
        {% include landingPageCSS.html %}

        <header class="landing-page">
            <style>
                #bg-img {
                    background-image: url(/images/jv-green-shirt-headshot-600.jpg);
                    opacity: .55;
                    background-position: center top;
                }

                @media screen and (min-width: 600px) {
                    #bg-img {
                        background-image: url(/images/jv-paisley-headshot-cropped-1280.jpg);
                        background-position: left top;
                    }
                }
            </style>
            <div id="bg-img" class="bg-img"></div>

            <div id="gist-wrapper">
                <div id="gist">
                    <h1><span id="vote">Vote&nbsp;</span><span id="dr-jennifer-hoppe">Dr. Jennifer Hoppe </span><span id="vipond">Vipond</span></h1>
                    <h2>for <span id="congress">Congress</span><span id="wisconsin">Wisconsin's Fifth District</span></h2>

                    <form action="https://getsimpleform.com/messages?form_api_token=c826bf93cc0f701979110234068b770a" method="post">
                        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                        <input type='hidden' name='redirect_to' value='https://vipondforcongress.com/email/thank-you.html' />
                        <!-- all your input fields here....the first one is a honeypot -->
                        <input type="tel" name="unsubscribe_me" value="" tabindex="-1" autocomplete="off" />
                        <input type="text" name="first-name" value="" placeholder="First name" autocapitalize="words" aria-label="first name" />
                        <input type="text" name="last-name" value="" placeholder="Last name" autocapitalize="words" aria-label="last name" />
                        <div class="email-wrapper">
                            <input type="email" name="email" value="" placeholder="Email" aria-label="email" required />
                        </div><br>
                        <button class="button" type="submit" name="submit-email">Subscribe to newsletter</button>
                    </form>
                </div>
            </div>

        </header>

        <div class="pseudo-landing-page"></div>

        {% include indexCSS.html %}

        <main>
            <article>
                {{ content }}
            </article>
        </main>

        {% include footer.html %}
    </body>
</html>
